* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: #333;
    font: 1em/1.5 'Open Sans', Arial, sans-serif;
}
pre {
    font: 1em/1.2 monospace;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}
iframe {
    border: none;
}
body > div {
    margin: 0 auto;
    padding: 0 1.5em;
    max-width: 70em;
}
#side {
    position: fixed;
    width: 18em;
    height: 100%;
    overflow-y: auto;
}
#side h1 {
    position: relative;
    display: block;
    padding: .8em 0 .6em .6em;
    width: 7.5em;
    transition: all .5s ease-out;
}
#side h1.compact {
    margin-left: 7.5em;
    font-size: .8em;
    transition-timing-function: ease-in;
}
#side h1.notrans {
    transition: none;
}
#side img {
    width: 100%;
}
#side h1 div {
    position: absolute;
    cursor: help;
    font-size: .45em;
    right: 2.8em;
    bottom: 1.9em;
    transition: opacity .3s linear .5s;
}
#side h1.compact div {
    visibility: hidden;
    opacity: 0;
    transition: none;
}
#side ul {
    margin-left: .2em;
    list-style-type: none;
    text-transform: none;
}
#side ul a {
    text-decoration: none;
}
#side ul a:hover {
    text-decoration: underline;
}
#side .toctree-l1:first-child {
    border-top: .1em solid #ddd;
}
#side .toctree-l1 {
    position: relative;
    border-bottom: .1em solid #ddd;
    border-left: .2em hidden transparent;
    padding: .6em 1em;
    font-size: 1.1em;
    text-transform: uppercase;
}
#side .toctree-l1.current::before {
    content: '';
    position: absolute;
    top: -.1em;
    left: -.2em;
    padding: .1em 0;
    width: .2em;
    height: 100%;
    background: #00974d;
}
/* Dynamic navigation */
#side li.current > a,
#side .toctree-l1 a.nxt_active {
    color: #00974d;
}
#side .toctree-l1 li {
    margin: .5em 0 0 1em;
    font-size: .9em;
}
#side .toctree-l2 ul {
    position: relative;
    padding-bottom: .7em;
    margin-bottom: -.6em;
    max-height: 0;
    overflow-y: hidden;
    transition: all 2s;
}
#side .toctree-l2 ul:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .8em;
    background: linear-gradient(to top, white, rgba(255,255,255,0));
}
#side .toctree-l2 a.nxt_active + ul,
#side .toctree-l1 li.current > ul,
#side .toctree-l1 li:hover > ul {
    max-height: 50em;
}
#side .toctree-l1 li:hover > ul {
    transition-delay: .3s;
}
#content {
    margin-left: 18em;
    padding: 1.6em 0 0 2em;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    position: relative;
    left: -.8em;
    padding-left: .8em;
}
#content h1 {
    color: #00974d;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.1;
}
#content h2 {
    margin: 1rem 0;
    color: #00974d;
    font-size: 1.6em;
    font-weight: normal;
}
#content h3 {
    margin: 1rem 0;
    color: #00974d;
    font-size: 1.25em;
    font-weight: normal;
}
#content h1 .headerlink,
#content h2 .headerlink,
#content h3 .headerlink {
    color: #00974d;
}
#content .headerlink {
    visibility: hidden;
    display: inline-block;
    position: absolute;
    top: -.2em;
    left: -.2em;
    padding: .2em;
}
#content *:hover > .headerlink {
    visibility: visible;
}
#content p,
#content .line-block {
    margin: 1em 0;
}
#content ul {
    margin: 1em 0;
    padding-left: 1em;
    list-style-type: none;
}
#content ul li::before {
    content: '\2013';
    position: absolute;
    margin-left: -.8em;
}
#content ol {
    margin: 1em 0;
    padding-left: 1em;
}
#content ol.loweralpha {
    list-style-type: lower-alpha;
}
#content li {
    margin: .3em 0;
}
#content table {
    margin: 1em 0;
    border: none;
    border-collapse: collapse;
}
#content th,
#content td {
    border: none;
    padding: .2em .5em;
}
#content td {
    border-top: .1em solid #ddd;
    border-bottom: .1em solid #ddd;
}
#content td table:last-child td {
    border-bottom: none;
}
#content td > .first {
    margin-top: 0;
}
#content td > .last {
    margin-bottom: 0;
}
#content .option-list td {
    border: none;
}
#content col {
    width: auto;
}
#content .literal,
#content span.option {
    padding: .2em .4em;
    background: #eee;
    color: #666;
    white-space: nowrap;
}
#content span.guilabel {
    font-weight: bold;
}
#content code.download {
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
}
#content div.admonition,
#content details {
    margin: 1em 0;
    border-left: .2em solid;
    padding: .6em 0 .6em 1em;
}
#content div.admonition.warning {
    border-color: #aa0000;
}
#content div.admonition.note {
    border-color: #00974d;
}
#content div.admonition p.first {
    margin-top: 0;
}
#content div.admonition p.last {
    margin-bottom: 0;
}
#content div.admonition p.admonition-title {
    font-weight: bold;
}
#content details {
    border-color: #ddd;
    max-height: 2.2em;
    overflow-y: hidden;
    transition: max-height 2s ease-in-out;
}
#content details[open] {
    max-height: 400em;
    padding-bottom: 0;
    position: relative;
}
#content details[open] summary span {
    cursor: default;
    text-decoration: none;
}
#content summary {
    display: inline;
    font-weight: bold;
    outline: none;
}
#content summary::-webkit-details-marker {
    display: none;
}
#content summary span {
    cursor: pointer;
    text-decoration: underline;
}
#content summary span:hover {
    text-decoration: none;
}
#content .highlight {
    margin: 1em 0;
    border-radius: .5em;
    padding: .6em 1em;
    overflow-x: auto;
}
#content .video {
    position: relative;
    margin: 2em 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
#content .video iframe,
#content .video object,
#content .video embed {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
#footer {
    margin: 1em 0 0 0 !important;
    border-top: .1em solid #ddd;
    padding: 1em 0;
    font-size: .9em;
    text-align: center;
}

/* Pygments */

.highlight {
    background: #444;
    color: #d0d0d0;
}
.highlight .hll {
    background: #222;
}
.highlight .err {
    background: #e3d2d2;
    color: #a61717;
}
.highlight .cp {
    color: #cd2828;
    font-weight: bold;
}
.highlight .cs {
    background: #520000;
    color:#e50808;
    font-weight: bold;
}
.highlight .ge {
    color: #d0d0d0;
    font-style: italic;
}
.highlight .gh {
    color: #fff;
    font-weight: bold;
}
.highlight .gi {
    color: #589819;
}
.highlight .go {
    color: #ccc;
}
.highlight .gp {
    color: #aaa;
}
.highlight .gs {
    color: #d0d0d0;
    font-weight: bold;
}
.highlight .gu {
    color: #fff;
    text-decoration: underline;
}
.highlight .kp {
    color: #6ab825;
}
.highlight .nf {
    color: #447fcf;
}
.highlight .w {
    color: #666;
}
.highlight .il {
    color: #3677a9;
}
.highlight .c,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .c1 {
    color: #999;
    font-style: italic;
}
.highlight .esc,
.highlight .g,
.highlight .l,
.highlight .n,
.highlight .o,
.highlight .x,
.highlight .p,
.highlight .ld,
.highlight .ni,
.highlight .nl,
.highlight .nx,
.highlight .py {
    color: #d0d0d0;
}
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kt,
.highlight .nt,
.highlight .ow {
    color: #6ab825;
    font-weight: bold;
}
.highlight .gd,
.highlight .gr,
.highlight .gt {
    color: #d22323;
}
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
    color: #56abed;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sr,
.highlight .s1,
.highlight .ss {
    color: #ed9d13;
}
.highlight .na,
.highlight .ne {
    color: #bbb;
}
.highlight .nb,
.highlight .bp {
    color: #24909d;
}
.highlight .nc,
.highlight .nn {
    color: #447fcf;
    text-decoration: underline;
}
.highlight .no,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
    color: #40ffff;
}
.highlight .nd,
.highlight .sx {
    color: #ffa500;
}

.highlight-console .gp {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.highlight-cfg,
.highlight-yaml,
.highlight-console,
.highlight-control,
.highlight-docker,
.highlight-go,
.highlight-ini,
.highlight-java,
.highlight-javascript,
.highlight-json,
.highlight-jsp,
.highlight-nginx,
.highlight-perl,
.highlight-php,
.highlight-python,
.highlight-ruby,
.highlight-none,
.highlight-spec {
    position: relative;
}

.highlight::before {
    color: #333;
    font-size: .8em;
    line-height: 1;
    position: absolute;
    right: .5em;
    top: -1.2em;
}
.highlight-cfg .highlight::before {
    content: "cfg";
}
.highlight-yaml .highlight::before {
    content: "yaml";
}
.highlight-console .highlight::before {
    content: "console";
}
.highlight-control .highlight::before {
    content: "control";
}
.highlight-docker .highlight::before {
    content: "docker";
}
.highlight-go .highlight::before {
    content: "go";
}
.highlight-ini .highlight::before {
    content: "ini";
}
.highlight-java .highlight::before {
    content: "java";
}
.highlight-javascript .highlight::before {
    content: "javascript";
}
.highlight-json .highlight::before {
    content: "json";
}
.highlight-jsp .highlight::before {
    content: "jsp";
}
.highlight-nginx .highlight::before {
    content: "nginx";
}
.highlight-perl .highlight::before {
    content: "perl";
}
.highlight-php .highlight::before {
    content: "php";
}
.highlight-python .highlight::before {
    content: "python";
}
.highlight-ruby .highlight::before {
    content: "ruby";
}
.highlight-spec .highlight::before {
    content: "spec";
}
.highlight-none .highlight::before {
    content: "text";
}


/* custom terms, placeholders, and hints */

.nxt_ph {
    background: #5b5b5b;
    cursor: help;
}
.nxt_hint {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
}
.highlight-json .nxt_var {
    color: #fada5e;
}

/* Tabs */

.nxt_tabs {
    display: flex;
    flex-flow: row wrap;
}
.nxt_tabs > div {
    box-sizing: border-box;
    border: .1em solid #00974d;
    display: none;
    order: 2;
    padding: 0 1em;
    width: 100%;
}
.nxt_tabs > input {
    display: none;
}
.nxt_tabs > label {
    margin: .3em .3em 0 0;
}
.nxt_tabs > label a {
    border: solid #ddd;
    border-width: .1em .1em 0;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: .3em .6em;
    text-decoration: none;
    white-space: nowrap;
}
.nxt_tabs > label a:hover {
    text-decoration: underline;
}
.nxt_tabs > input.nojs + label a {
    border-width: .1em;
}
.nxt_tabs > input.nojs + label:target a,
.nxt_tabs > input.js:checked + label a {
    background: #00974d;
    border-color: #00974d;
    color: white;
    cursor: default;
    text-shadow: 1px 0 white;
}
.nxt_tabs > input.nojs + label:target a:hover,
.nxt_tabs > input.js:checked + label a:hover {
    text-decoration: none;
}
.nxt_tabs > input.nojs + label:target + div,
.nxt_tabs > input.js:checked + label + div {
    display: block;
}

/* Click-to-copy */
.nxt_copy_btn {
    position: absolute;
    top: 0;
    right: .2em;
    cursor: pointer;
}
.nxt_copy_btn a {
    display: inline-block;
    line-height: 1em;
    padding: .5em;
}
.nxt_copy_btn input,
.nxt_copy_btn a:last-child,
.nxt_copy_btn input:checked + a {
    display: none;
}
.nxt_copy_btn input:checked ~ a:last-child {
    display: inline-block;
}
.nxt_copy_btn:hover svg {
    fill: #eee;
}
.nxt_copy_btn svg,
.nxt_copy_btn:active svg {
    fill: #bbb;
    height: 1em;
}
.nxt_copy_ws {
    visibility: hidden;
}
/* GitHub link */
.nxt_github_link {
    position: fixed;
    font-size: .9em;
    right: 0;
    bottom: 0;
    padding: 1.1em;
    display: block;
    text-align: right;
}
.nxt_github_link div {
    display: inline-block;
    height: 1em;
    margin: 0 .3em -.2em 0;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>');
}
@media (max-width: 94em) {
    #content {
        position: relative;
    }
    .nxt_github_link {
        position: absolute;
        bottom: auto;
        padding-right: 0;
    }
}
@media (max-width: 40em), (min-width: 53em) and (max-width: 60em) {
    .nxt_github_link {
        position: relative;
        padding: 0;
    }
}
@media (max-width: 53em) {
    #side {
        position: relative;
    }
    #side h1 {
        margin-left: 7.5em;
        font-size: .8em;
    }
    #side h1 div {
        visibility: hidden;
        opacity: 0;
        transition: none;
    }
    #content {
        margin-left: 0;
        padding-left: 1.6em;
    }
    .nxt_tabs > div {
        width: 93%;
    }
    .nxt_tabs > input + label a {
        border-width: .1em;
    }
    .nxt_tabs > input.nojs + label:target,
    .nxt_tabs > input.js:checked + label {
        order: 1;
    }
}
