<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
{%- if pagename == "index" %}
<meta name="go-import" content="unit.nginx.org hg https://hg.nginx.org/unit" />
{%- endif %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
{%- if pagename == 'index' %}
<meta property="og:url" content="{{ nxt_baseurl }}">
{%- else %}
<meta property="og:url" content="{{ nxt_baseurl + pagename|replace('/index', '', 1) + '/' }}">
{%- endif %}
<meta property="og:title" content="{{ project }}: {{ title|striptags|e }}">
{{ metatags }}
<meta property="og:image" content="{{ 'http://unit.nginx.org/_static/logo.png' + '?' + md5('theme/static/logo.png') }}">
<meta property="og:image:secure_url" content="{{ 'https://unit.nginx.org/_static/logo.png' + '?' + md5('theme/static/logo.png') }}">
<meta property="og:image:width" content="988">
<meta property="og:image:height" content="357">
<meta property="og:image:alt" content="NGINX Unit logo" />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">

<style>
@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans'), local('Open Sans'), local('Open Sans Regular'), local('OpenSans-Regular'),
         url('{{ pathto('_static/OpenSans.woff2', 1) + '?' + md5('theme/static/OpenSans.woff2') }}') format('woff2'),
         url('{{ pathto('_static/OpenSans.woff', 1) + '?' + md5('theme/static/OpenSans.woff') }}') format('woff');
}
</style>
<link rel="stylesheet" href="{{ pathto('_static/' + style, 1) + '?' + md5('theme/static/' + style) }}" />
<link rel="icon" href="{{ pathto('_static/icon.png', 1) + '?' + md5('theme/static/icon.png') }}" />
<script async src="{{ pathto('_static/script.js', 1) + '?' + md5('theme/static/script.js') }}"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFQJNTS');</script>
<!-- End Google Tag Manager -->

{%- if next %}
<link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
{%- endif %}
{%- if prev and pagename != "index" %}
<link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
{%- endif %}

<title>{{ title|striptags|e }} — {{project}}</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFQJNTS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="rennab"><a href="https://f5.recsolu.com/jobs/-vHvZLsniHTiQVgLhQXlYQ">
We're Hiring C Developers to Work on Open Source</a></div>
<div>
<div id="side">
    <h1>
        {%- if pagename != "index" %}
        <a href="{{ pathto('index') }}">
        {%- endif %}
            <img src="{{ pathto('_static/logo.svg', 1) + '?' + md5('theme/static/logo.svg')}}" alt="{{project}}" />
        {%- if pagename != "index" %}
        </a>
        {%- endif %}
        <div title="Released on {{release_date}}">v. {{version}}</div>
    </h1>
    {{ toctree(maxdepth = 4) }}
</div>
<div id="content">
    {% block body %} {% endblock %}
    {% if edit_on_github_url %}
    <div class="nxt_github_link"><a href="{{ edit_on_github_url }}"><div></div>Improve this page</a></div>
    {% endif %}
    <p id="footer">
        © {{copyright}} <a href="https://www.nginx.com/">{{author}}</a>
    </p>
</div>
</div>
</body>
</html>
